.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-card {
    max-width: 400px;
    width: 90%;
    padding: 20px;
}

mat-card-header {
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

.login-footer {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}