/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Notification Snackbar Styles */
.snackbar-success {
    .mdc-snackbar__surface {
        background-color: #4caf50 !important;
        color: white !important;
    }

    .mat-mdc-snack-bar-label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
    }
}

.snackbar-error {
    .mdc-snackbar__surface {
        background-color: #f44336 !important;
        color: white !important;
    }

    .mat-mdc-snack-bar-label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
    }
}

.snackbar-warning {
    .mdc-snackbar__surface {
        background-color: #ff9800 !important;
        color: white !important;
    }

    .mat-mdc-snack-bar-label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
    }
}

.snackbar-info {
    .mdc-snackbar__surface {
        background-color: #2196f3 !important;
        color: white !important;
    }

    .mat-mdc-snack-bar-label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
    }
}

.snackbar-confirm {
    .mdc-snackbar__surface {
        background-color: #673ab7 !important;
        color: white !important;
    }

    .mat-mdc-snack-bar-label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
        font-weight: 600 !important;
    }
}